# Kept them because they are not private
BINANCE_PING_URL=https://api.binance.com/api/v3/ping
BINANCE_ORDER_BOOK_URL=https://api.binance.com/api/v3/depth

KRAKEN_PING_URL=https://api.kraken.com/0/public/SystemStatus
KRAKEN_ORDER_BOOK_URL=https://api.kraken.com/0/public/Depth